.profile-pic {
    position: relative;
    width: 18vh;
    height: 30vh;
    border-radius: 50%;
 }
 .background{
    color: black;
    background-color: white;
 }
 .about{
    position: relative;
    padding-top: 60px;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    /* background: #161415 url("../images/profile.jpeg") no-repeat top center; */
    background-size: cover !important;
     -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
 }