.title{
    text-decoration:wavy;
}
.portfolio{
    position: relative;
    /* margin-top: 40px; */
    height: auto;
    min-height: 500px;
    width: 100%;
    /* background: #161415 url("../images/profile.jpeg") no-repeat top center; */
    background-size: cover !important;
     -webkit-background-size: cover !important;
    overflow: hidden;
}