.card3{
  width: 44%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.281);
  text-align: center;
  height: auto;
  padding: 3%;
  margin: 2%;
  background-color: #303030;
  
}
